<p id="notice"><%= notice %></p>

<p>
  <b>Price:</b>
  <%= @liquor_license_auction.price %>
</p>


<%= link_to 'Edit', edit_liquor_license_auction_path(@liquor_license_auction) %> |
<%= link_to 'Back', liquor_license_auctions_path %>
